$header_color: #e8dce5;
$text_color: #000000;
$button_color: #ff5492;
$button_border_color: #ff5492;
$button_text_color: #491c1c;
$font_inria: 'Inria Serif';
$font_istok: 'Istok Web';
$font_inter: 'Inter';
$font_arial: 'Arial';
//$text_color: #491c1c;

body {
  color: $text_color;
  font-size: 18px;
  font-family: $font_istok;
}

.button {
  font-family: $font_istok;
  background-color: $button_color;
  border: 1px solid $button_border_color;
  color: $button_text_color;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  width: 160px;
}

.icon {
  height: 100px;
}

.mail-icon {
  margin-top: 12px;
  height: 75px;
  width: 150px;
}

ul {
  padding-left: 20px;
  li {
    margin-bottom: 20px;
  }
}

.form-input {
  margin-top: 10px;
  display: flex;
  label {
    font-family: $font_inter;
    margin-top: 14px;
    width: 20%;
  }

  input {
    font-family: $font_arial;
    width: 60%;
    height: 24px;
  }
}

.form-text {
  margin-top: 22px;
  margin-bottom: 10px;

  label {
    display: block;
    width: 100%;
  }

  textarea {
    font-family: $font_arial;
    width: 79%;
    height: 300px;
    padding: 10px;
  }
}

h2, h3 {
  font-family: $font_istok;
}

header {
  font-family: $font_inria;
  position: relative;
  height: 80px;

  background-color: $header_color;
  color: $text_color;

  h1 {
    font-weight: normal;
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -20px;
    right: 200px;
  }
}

.hero {
  font-family: $font_inria;
  background-image: url("./assets/img/pink-cloud.jpeg");
  background-position-y: -140px;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  height: 790px;

  div {
    color: white;
    position: absolute;
    width: 500px;
    top: 150px;
    left: 150px;
    height: 458px;
    font-size: 34px;

    span {
      line-height: 1.3;
    }

    .span-large {
      font-size: 46px;
    }
  }
}

.services {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  margin-top: 40px;

  .service {
    width: 25%;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;

    div {
      height: 80%;

      p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
      }
    }

    .button {
      vertical-align: bottom;
    }
  }
}

.cta {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 828px;
  background-image: url("./assets/img/iron-steam-dark.jpg");
  background-position-y: -87px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .action {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 65px;
    left: 150px;
    height: 200px;

    h2 {
      font-family: $font_inria;
      font-weight: normal;
    }

    .button {
      font-family: $font_inter;
    }
  }
}

.cta2 {
  font-family: $font_inria;
  line-height: 0;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;

  img {
    width: 100%;
  }

  .action {
    line-height: normal;
    text-align: right;
    color: $text_color;
    position: absolute;
    top: 0px;
    right: 50px;
    height: 300px;
    width: 500px;

    .button {
      font-family: $font_inter;
    }

    > div {
      text-align: left;
      * {
        display: inline-block;
      }

      h2 {
        font-family: $font_inria;
        font-weight: normal;
        font-size: 32px;
        width: 400px;
      }

    }

    .icon {
      width: 75px;
      height: 75px;
    }

    h2 {
      margin-right: 20px;
    }
  }
}

.aboutus {
  width: 80%;
  margin: 0 auto;

  p {
    font-family: $font_inter;
  }

  .aboutus-info {
    text-align: center;
  }

  .aboutus-workway {
    h2 {
      text-align: center;
    }

    div {
      display: flex;
      img {
        height: 200px;
      }
      ul {
        font-family: $font_inter;
        margin-left: 50px;
        margin-top: 0;
      }
    }
  }

  .aboutus-images {
    text-align: center;
    img {
      width: 70%;
    }
    div {
      display: flex;

      img {
        width: 50%;
      }
    }
  }
}

.contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;

  > img {
    margin-top: 80px;
    height: 500px;
  }

  .contact-form {
    margin-left: 150px;
    width: 80%;

    .contact-header {
      display: flex;

      img {
        margin-left: -50px;
        display: block;
      }
      h2 {
        font-family: $font_inter;
        margin-left: 80px;
      }
    }
  }
}

.prices {
  margin: 0 auto;
  margin-top: 150px;
  width: 30%;
  text-align: left;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .price-table {
    margin-bottom: 75px;

    .price-row {
      font-family: $font_inter;
      display: flex;
      margin-bottom: 5px;
      border-bottom: 1px solid grey;
      padding: 5px 0;
      &:first-child {
        border-top: 1px solid grey;
      }

      .item-name {
        text-align: left;
        width: 80%;
      }

      .item-price {
        text-align: right;
        padding-right: 15px;
        width: 20%;
      }
    }
  }
}

footer {
  font-family: $font_inria;
  text-align: center;

  img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .footer-container {
    background-color: $header_color;
    padding: 20px 0;
  }
}

.under-construction {
  background-color: azure;
  padding: 25px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  .span {
    display: inline-block;
    margin-left: 25px;
  }

  .icon {
    width: 5opx;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 25px;
  }
}
