$header_color: #e8dce5;
$text_color: #000000;
$button_color: #ff5492;
$button_border_color: #ff5492;
$button_text_color: #491c1c;
$font_inria: 'Inria Serif';
$font_istok: 'Istok Web';
$font_inter: 'Inter';
$font_arial: 'Arial';
$desktop: 480px;
//$text_color: #491c1c;

body {
  color: $text_color;
  font-size: 18px;
  font-family: $font_istok;
}

.button {
  font-family: $font_istok;
  background-color: $button_color;
  border: 1px solid $button_border_color;
  color: white;
  border-radius: 25px;
  cursor: pointer;

  padding: 10px;
  font-size: 18px;
  width: 135px;

  @media screen and (min-width: $desktop) {
    padding: 12px;
    font-size: 20px;
    width: 160px;
  }
}

.icon {
  @media screen and (min-width: $desktop) {
    height: 100px;
  }
  height: 50px;
}

.mail-icon {
  margin-top: 12px;
  height: 50px;
  width: 100px;

  @media screen and (min-width: $desktop) {
    height: 75px;
    width: 150px;
  }
}

ul {
  padding-left: 20px;
  li {
    margin-bottom: 20px;
  }
}

img {
  &.img-desktop {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &.img-mobile {
    display: block;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.form-input {
  margin-top: 10px;
  display: flex;
  label {
    font-family: $font_inter;
    margin-top: 14px;

    width: 40%;
    @media screen and (min-width: $desktop) {
      width: 20%;
    }
  }

  input {
    font-family: $font_arial;
    height: 24px;
    width: 60%;
  }
}

.form-text {
  margin-top: 22px;
  margin-bottom: 10px;

  label {
    display: block;
    width: 100%;
  }

  textarea {
    font-family: $font_arial;

    width: 93%;
    @media screen and (min-width: $desktop) {
      width: 79%;
    }
    height: 300px;
    padding: 10px;
  }
}

h2, h3 {
  font-family: $font_istok;
}

header {
  text-align: right;
  padding-right: 20px;

  @media screen and (min-width: $desktop) {
    position: relative;
    height: 80px;
  }

  font-family: $font_inria;
  background-color: $header_color;
  color: $text_color;

  h1 {
    font-weight: normal;
    padding: 12px;
    margin: 0;

    font-size: 16px;
    @media screen and (min-width: $desktop) {
      font-size: 36px;
      position: absolute;
      top: 50%;
      height: 20px;
      margin-top: -20px;
      right: 200px;
      padding: 0;
    }
  }
}

.hero {
  font-family: $font_inria;

  background-image: url("./assets/img/pink-cloud.jpeg");
  background-repeat: no-repeat;
  background-size: 120%;

  height: 250px;
  background-position: 0px;
  background-position-y: 0px;

  @media screen and (min-width: $desktop) {
    background-size: cover;
    position: relative;
    height: 790px;
    background-position-y: -140px;
  }

  div {
    color: white;
    font-size: 16px;
    width:50%;

    padding-top: 25px;
    padding-left: 20px;

    @media screen and (min-width: $desktop) {
      position: absolute;
      width: 500px;
      top: 150px;
      left: 150px;
      height: 458px;
      padding: 0;
      font-size: 34px;
    }

    span {
      line-height: 1.3;
    }

    .span-large {
      font-size: 18px;

      @media screen and (min-width: $desktop) {
        font-size: 46px;
      }
    }
  }
}


.services {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    margin-top: 40px;
  }

  .service {
    &.service-desktop {
      display: none;
      @media screen and (min-width: $desktop) {
        display: block;
      }
    }

    &.service-mobile {
      display: block;
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }

    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;

    > div {
      height: 80%;
      display: flex;
      justify-content: center;
      @media screen and (min-width: $desktop) {
        display: block;
      }

      > div {
        padding-top: 4px;
        width: 20%;
      }

      p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
      }
    }

    .button {
      vertical-align: bottom;
    }

    img {
      vertical-align: bottom;
      margin-right: 0;

      &.iron-icon {
        margin-left: -20px;
      }

      @media screen and (min-width: $desktop) {

        vertical-align: unset;
        margin: 0;
      }
    }
  }
}

.cta {
  background-image: url("./assets/img/iron-steam-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;

  height: 300px;
  color: white;

  @media screen and (min-width: $desktop) {
    background-size: cover;
    background-position-y: -87px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 828px;
  }

  .action {
    padding-top: 32px;
    padding-left: 10px;
    font-size: 14px;

    @media screen and (min-width: $desktop) {
      padding: 0;

      text-align: center;
      font-size: 25px;
      position: absolute;
      top: 65px;
      left: 150px;
      height: 200px;
    }

    h2 {
      font-family: $font_inria;
      font-weight: normal;
      margin-bottom: 5px;
    }

    .button {
      font-size: 13px;
      font-family: $font_inter;
      padding: 8px;
      width: 100px;
      margin-left: 80px;

      @media screen and (min-width: $desktop) {
        font-size: 20px;
        padding: 12px;
        width: 160px;
        margin-left: 0px;
      }
    }
  }
}

.cta2 {
  font-family: $font_inria;
  line-height: 0;
  width: 100%;
  position: relative;

  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
  }

  img {
    width: 100%;
  }

  .action {
    line-height: normal;
    text-align: right;
    color: $text_color;
    position: absolute;
    top: 10px;
    right: 10px;

    @media screen and (min-width: $desktop) {
      right: 50px;
      height: 300px;
      width: 500px;
    }

    .button {
      font-size: 12px;
      font-family: $font_inter;
      padding: 8px;
      width: 100px;
      @media screen and (min-width: $desktop) {
        font-size: 20px;
        padding: 12px;
        width: 160px;
      }
    }

    > div {
      text-align: right;

      * {
        display: inline-block;
      }

      h2 {
        font-family: $font_inria;
        font-weight: normal;
        font-size: 16px;
        margin-top: 0;
        margin-right: 10px;

        @media screen and (min-width: $desktop) {
          font-size: 32px;
          width: 400px;
          margin-top: 26px;
          margin-right: 20px;
        }
      }
    }

    .icon {
      width: 35px;
      height: 35px;

      @media screen and (min-width: $desktop) {
        width: 75px;
        height: 75px;
      }
    }
  }
}

.aboutus {
  width: 80%;
  margin: 0 auto;

  p {
    font-family: $font_inter;
  }

  img {
    width: 100%;
    @media screen and (min-width: $desktop) {
      height: 200px;
      width: auto;
    }
  }

  .aboutus-info {
    text-align: center;
  }

  .aboutus-workway {
    h2 {
      text-align: center;
    }

    div {
      display: flex;

      ul {
        margin: 0;
        font-family: $font_inter;

        @media screen and (min-width: $desktop) {
          margin-left: 50px;
        }
      }
    }
  }

  .aboutus-images {
    text-align: center;
    img {
      width: 100%;
      @media screen and (min-width: $desktop) {
        width: 70%;
        height: auto;
      }
    }
    div {
      display: flex;

      img {
        width: 50%;
      }
    }
  }
}

.contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

  display: block;
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  > img {

    margin-top: 30px;
    width: 100%;

    @media screen and (min-width: $desktop) {
      margin-top: 80px;
      height: 500px;
      width: auto;
    }
  }

  .contact-form {
    margin: 0;
    width: 100%;

    @media screen and (min-width: $desktop) {
      margin-left: 150px;
      width: 80%;
    }

    .button {
      width: 115px;
      @media screen and (min-width: $desktop) {
        width: 135px;
      }
    }

    .contact-header {
      display: flex;

      img {
        display: block;
        margin: 0;
        @media screen and (min-width: $desktop) {
          margin-left: -50px;
        }
      }

      h2 {
        font-family: $font_inter;
        margin-left: 30px;
        font-size: 20px;
        @media screen and (min-width: $desktop) {
          font-size: 27px;
          margin-left: 53px;
        }
      }
    }
  }
}

.prices {
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: left;
  margin-top: 75px;
  width: 80%;

  @media screen and (min-width: $desktop) {
    width: 30%;
    margin-top: 150px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .price-table {
    margin-bottom: 75px;

    .price-row {
      font-family: $font_inter;
      display: flex;
      margin-bottom: 5px;
      border-bottom: 1px solid grey;
      padding: 5px 0;
      &:first-child {
        border-top: 1px solid grey;
      }

      .item-name {
        text-align: left;
        width: 80%;
      }

      .item-price {
        text-align: right;
        padding-right: 15px;
        width: 75px;
      }
    }
  }
}

footer {
  font-family: $font_inria;
  text-align: center;

  font-size: 16px;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }

  img {
    display: block;
    width: 100%;
    @media screen and (min-width: $desktop) {
      width: 60%;
      margin: 0 auto;
    }
  }

  .footer-container {
    background-color: $header_color;
    padding: 20px 0;
  }
}

.under-construction {
  background-color: azure;
  padding: 25px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  .span {
    display: inline-block;
    margin-left: 25px;
  }

  .icon {
    width: 5opx;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 25px;
  }
}
