$header_color: #e8dce5;
$text_color: #000000;
$button_color: #ff5492;
$button_border_color: #ff5492;
$button_text_color: #491c1c;
$font_inria: 'Inria Serif';
$font_istok: 'Istok Web';
$font_inter: 'Inter';
$font_arial: 'Arial';
$desktop: 1000px;
$screen_medium: 440px;
$screen_large: 1400px;
$font_size_desktop: 18px;
$font_size_mobile: 36px;
$red: #ff3838;
$grey: #d9d9d9;
//$text_color: #491c1c;

body {
  color: $text_color;
  font-size: $font_size_mobile;
  font-family: $font_istok;

  @media screen and (min-width: $desktop) {
    font-size: $font_size_desktop;
  }
}

.button {
  display: inline-block;
  font-family: $font_istok;
  text-decoration: none;
  text-align: center;
  background-color: $button_color;
  border: 1px solid $button_border_color;
  color: white;
  border-radius: 50px;
  cursor: pointer;

  padding: 10px;
  width: 180px;
  font-size: $font_size_mobile;

  &.phone {
    @media screen and (min-width: $desktop) {
      cursor: default;
    }
  }
}

.icon {
  height: 100px;
}

.mail-icon {
  margin-top: 12px;
  height: 100px;
  width: 200px;

  @media screen and (min-width: $screen_large) {
    height: 75px;
    width: 150px;
  }
}

ul {
  padding-left: 20px;
  @media screen and (min-width: $desktop) {
    padding-left: 6px;
  }

  li {
    margin-bottom: 12px;
  }
}

img {
  &.img-desktop {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &.img-mobile {
    display: block;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.form-input {
  margin-top: 10px;
  display: flex;

  label {
    font-family: $font_inter;
    margin-top: 14px;
    width: 40%;
  }

  input {
    font-family: $font_arial;
    height: 40px;
    font-size: 36px;
    width: 80%;

    &.error {
      border-color: $red;

      &:focus {
        border-color: $red;
      }
    }
  }
}

.form-text {
  margin-top: 22px;

  label {
    display: block;
    width: 100%;
  }

  textarea {
    font-family: $font_arial;
    padding: 10px;
    width: 93%;
    height: 200px;
    font-size: 36px;

    @media screen and (min-width: $desktop) {
      height: 300px;
      width: 100%;
    }

    &.error {
      border-color: $red;

      &:focus {
        border-color: $red;
      }
    }
  }
}

h2, h3 {
  font-family: $font_istok;
}

.message {
  margin: 10px 0;
  padding: 5px;

  &.notice {
    border: 1px solid #3d9a2b;
    background-color: #d4ecd0;
  }

  &.error {
    border: 1px solid $red;
    background-color: #fae0e0;
  }
}

header {
  display: flex;
  text-align: right;
  padding-right: 20px;
  font-family: $font_inria;
  background-color: $header_color;
  color: $text_color;

  div:first-child {
    width: 90%;
  }

  h1 {
    font-weight: normal;
    padding: 26px 12px 12px;
    margin: 0;

    @media screen and (min-width: $desktop) {
      padding: 18px;
    }
  }

  img {
    width: 100px;
    height: 100px;
    padding: 20px 20px 20px 0;


    @media screen and (min-width: $desktop) {
      width: 60px;
      height: 60px;
      padding: 9px;
    }
  }
}

.hero {
  font-family: $font_inria;
  position: relative;

  img {
    width: 100%;
  }

  div {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    width: 50%;

    @media screen and (min-width: $desktop) {
      width: 26%;
      top: 150px;
      left: 150px;
      font-size: 34px;
    }

    .span-large {
      font-size: 40px;
      @media screen and (min-width: $desktop) {
        font-size: 46px;
      }
    }
  }
}

.service-buttons {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    margin-bottom: 40px;
  }

  .button {
    @media screen and (min-width: $desktop) {
      width: 250px;
      border-radius: 40px;
    }
  }
}

.services {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    margin-top: 40px;
  }

  .service-container {
    flex-basis: 0;
    flex-grow: 1;

    .service {
      &.service-desktop {
        display: none;
        @media screen and (min-width: $desktop) {
          display: block;
        }
      }

      &.service-mobile {
        display: block;
        @media screen and (min-width: $desktop) {
          display: none;
        }
      }

      width: 90%;
      margin: 10px auto;
      padding: 10px;
      text-align: center;

      @media screen and (min-width: $desktop) {
        width: 100%;
      }

      > div {
        display: flex;
        justify-content: center;

        @media screen and (min-width: $desktop) {
          display: block;
        }

        > div {
          padding-top: 4px;
          width: 20%;
          margin-right: 10px;
        }

        p {
          width: 80%;
          margin: 0 auto;
        }
      }

      img {
        vertical-align: bottom;

        @media screen and (min-width: $desktop) {
          vertical-align: unset;
        }
      }
    }
  }
}

.cta {
  position: relative;
  color: white;

  &.whatsapp-cta {
    color: $text_color;

    @media screen and (min-width: $desktop) {
      margin: 0 auto;
      width: 80%;
    }

    a {
      color: $text_color;
    }

    h2.click {
      display: inline-block;
      vertical-align: bottom;
      margin-top: 0;
      margin-right: 11px;
      font-weight: bold;

      @media screen and (min-width: $desktop) {
        vertical-align: bottom;
      }
    }

    .action {
      right: 45px;
    }
  }

  img {
    width: 100%;
  }

  .icon {
    width: 80px;
    height: 80px;

    @media screen and (min-width: $desktop) {
      width: 50px;
      height: 50px;
    }
  }

  .action {
    position: absolute;
    top: 20px;
    left: 30px;

    @media screen and (min-width: $desktop) {
      left: 100px;
    }

    h2 {
      font-family: $font_inria;
      font-weight: normal;
      margin-bottom: 20px;
      margin-top: 0;
      font-size: 40px;
    }

    .button {
      font-family: $font_inter;
      width: 250px;
    }
  }
}

.image-div {
  line-height: 0;
  img {
    width: 100%;
  }
}


.about-us {

  .about-service {

    @media screen and (min-width: $desktop) {
      width: 80%;
      margin: 0 auto;
      display: flex;
    }

    .about-us-info {

      width: 80%;
      margin: 0 auto;

      @media screen and (min-width: $desktop) {
        width: 50%;
        padding: 30px;

        &:nth-child(2) {
          border-left: 1px solid grey;
        }

        h2 {
          margin-top: 0;
        }
      }

      .about-us-info-images {
        overflow: hidden;
      }

      img {
        width: 50%;
        vertical-align: top;
      }

      ul {
        margin: 0;
        font-family: $font_inter;
      }
    }
  }

  p {
    font-family: $font_inter;
    text-align: left;
  }

  img {
    width: 100%;
    @media screen and (min-width: $desktop) {
      height: 200px;
      width: auto;
    }
  }

  .about-us-images {
    margin-top: 20px;
    text-align: center;
    line-height: 0;

    @media screen and (min-width: $desktop) {
      width: 80%;
      margin: 0 auto;
    }

    img {
      width: 100%;
      @media screen and (min-width: $desktop) {
        height: auto;
      }
    }

    div {
      display: flex;

      img {
        width: 50%;
      }
    }
  }
}

.contact {
  width: 80%;
  margin: 50px auto 30px;

  display: block;
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  > img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      margin-top: 96px;
      height: 500px;
      width: auto;
    }
  }

  .contact-form {
    margin: 0;
    width: 100%;

    @media screen and (min-width: $desktop) {
      margin-left: 50px;
      width: 80%;
    }

    @media screen and (min-width: $screen_large) {
      width: 600px;
      margin-left: 200px;
    }

    .address-block {
      display: flex;
    }

    p {
      margin-top: 0;
    }

    .google-maps-icon {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    .contact-header {
      display: flex;
      margin-top: 40px;

      div {

        img {
          display: block;

          margin: -10px 0 0;

          @media screen and (min-width: $desktop) {
            margin-top: 0;
          }

          @media screen and (min-width: $screen_large) {
            margin-top: -20px;
          }
        }
      }

      h2 {
        font-family: $font_inter;
        margin-top: 10px;
        margin-left: 50px;
      }
    }

    .required-desc {
      color: grey;
      margin-bottom: 10px;
    }
  }
}

.prices {
  margin: 0 auto 50px;
  text-align: left;
  width: 80%;

  @media screen and (min-width: $desktop) {
    width: 30%;
  }

  .price-table {

    .price-row {
      font-family: $font_inter;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;
      border-bottom: 1px solid grey;
      padding: 5px 0;

      &:first-child {
        border-top: 1px solid grey;
      }

      .item-name {
        text-align: left;
        width: 80%;
      }

      .item-euro {
        width: 10%;
        text-align: right;
        margin-right: 2px;
      }

      .item-price {
        text-align: right;
        padding-right: 15px;
        width: 10%;
        min-width: 50px;
      }
    }
  }
}

footer {
  font-family: $font_inria;
  text-align: center;

  .footer-container {
    background-color: $header_color;
    padding: 20px 20px;

    @media screen and (min-width: $desktop) {
      padding: 20px 0;
    }

    span {
      display: block;
      margin-bottom: 10px;
      @media screen and (min-width: $desktop) {
        display: inline;
      }
    }

    span:nth-child(2) {
      @media screen and (min-width: $desktop) {
        margin-left: 100px;
      }
    }

    .google-maps-icon {
      width: 100px;
      height: 100px;
      margin-left: 10px;
      vertical-align: bottom;

      @media screen and (min-width: $desktop) {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.under-construction {
  background-color: azure;
  padding: 25px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  .span {
    display: inline-block;
    margin-left: 25px;
  }

  .icon {
    width: 5opx;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 25px;
  }
}

.temp-close {
  text-align: center;
  padding: 25px;
  border-bottom: 10px solid $grey;
  background-color: white;
  z-index: 10000;
  height: 110px;

  & + header {
    margin-top: 170px;
  }

  @media screen and (min-width: $desktop) {
    height: 30px;

    & + header {
      margin-top: 90px;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  h3 {
    margin: 0;
  }
}

/*** Admin CSS ***/

.password-screen {
  padding: 20px;
  font-size: 3em;

  span {
    vertical-align: top;
  }

  input {
    width: 300px;
    height: 60px;
    font-size: 1.2em;
    margin-left: 10px;
  }
}

.admin-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-size: 3em;
}

.admin-tab {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px 0;


  &:first-child {
    border-right: 1px solid black;
  }

  &.active {
    background-color: #dbdbff;
  }
}

.calculator {
  margin: 0 auto;
  width: 90%;
  font-size: 2em;

  .calculator-total {
    font-size: 2em;
  }

  .action-buttons, .action-buttons-bottom {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;

    div {
      margin-right: 50px;
    }
  }

  .action-buttons-bottom {
    justify-content: space-between;

    .input-customer-name {
      padding-top: 5px;

      input {
        height: 30px;
        width: 160px;
        font-size: 1.1em;
      }
    }
  }

  .save-error {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fdd7dd;
  }

  .toggle-selected, .toggle-save, .save-button {
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #dbdbff;
    cursor: pointer;
  }

  .toggle-save, .save-button {
    background-color: #e6fbe6;

    &.cancel {
      background-color: #fdd7dd;
    }
  }
}

.calculator-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  &.active {
    background-color: #eafbea;
  }

  span {
    width: 50px;
    text-align: right;
    margin-right: 5px;
  }

  .calc-button {
    width: 40px;
    height: 40px;
    padding: 3px 10px;
    font-size: 2.2em;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 0.6;
    background-color: #fdd7dd;
  }

  .calc-button-plus {
    height: 60px;
    width: 40px;
    line-height: 1.4;
    font-size: 1.4em;
    padding-left: 20px;
    background-color: #e6fbe6;
  }

  .item-name {
    width: 300px;
    text-align: left;
    font-size: 1.1em;
  }

  .item-amount {
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    text-align: right;
  }

  .read-item-amount {
    font-size: 1.2em;
    padding-right: 10px;
  }

  .item-total {
    font-size: 1.1em;
    width: 100px;
  }
}

.calculator-total-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.invoice {
  margin: 0 auto;
  width: 90%;
  font-size: 2em;

  .back-link {
    margin: 20px 10px;
    text-decoration: underline;
  }

  .invoice-data {
    margin: 20px 10px;

    .invoice-data-item {
      display: flex;
      justify-content: space-between;

      &.invoice-customer {
        font-size: 1.5em;
      }
    }
  }

  .calculator-item {
    background-color: #f1e5ee;
  }

  .calculator-total-bottom {
    background-color: #e7e7f9;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
  }
}

.invoices {
  margin: 0 auto;
  width: 90%;
  font-size: 2em;

  .month-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

    button {
      height: 80px;
      font-size: 2em;
      background-color: #dbdbff;
      border: 1px solid black;
      border-radius: 5px;
    }

    h2 {
      margin: 3px 30px;
    }
  }

  .invoices-empty {
    margin: 20px 0;
    text-align: center;
  }

  .invoice-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;

    &:last-child {
      border-bottom: none
    }
  }

  .invoice-total {
    font-weight: bold;
    border-top: 2px solid black;
  }
}